<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278806026030-96t8np1oa4cf36slvhovib0tdp0iv9ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278806026030-96t8np1oa4cf36slvhovib0tdp0iv9ur</string>
	<key>API_KEY</key>
	<string>AIzaSyC1TXARB6Bx3r5WgPIugdR-7a-tJcYMf1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>278806026030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academy.aster</string>
	<key>PROJECT_ID</key>
	<string>aster-409d6</string>
	<key>STORAGE_BUCKET</key>
	<string>aster-409d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278806026030:ios:710bde5bfff6338b</string>
	<key>DATABASE_URL</key>
	<string>https://aster-409d6.firebaseio.com</string>
</dict>
</plist>